{% extends 'base_layout.html' %}s
{% block content %}
<h1> {{user.username}} feed</h1>


{% for p in  parent_search %}

<p class="message_p">
    <span class="username">
        From: <a href ="{% url 'accounts:info' username=p.username %}">{{p.username}}</a></span>
    <br> {{p.message}} <br>
    <span class="smaller"> message ID: {{p.id}}</span> </p>

    {% if type == "Babysitter" %}

        {% for r in  p.reply.all %}
            {% if r.babysitter == user.username %}
            <p class="reply">
             <span class="username">
            From: <a href ="{% url 'accounts:info' username=r.babysitter %}">{{r.babysitter}}</a></span>
            <br> {{r.message}}
            </p>
            {% endif %}
        {% endfor %}

    {% else %}

        {% for r in  p.reply.all %}
            <p class="reply">
             <span class="username">
            From: <a href ="{% url 'accounts:info' username=r.babysitter %}">{{r.babysitter}}</a></span>
            <br> {{r.message}}
            </p>
        {% endfor %}

    {% endif %}

{% endfor %}

{% if type == "Babysitter" %}
<p> <span  class ="bold"> To reply select a message ID and submit your reply: </span> </p>

 <form method="post" style="margin-top: 1.3em;" >

              {{ reply_form.as_p }}

              {% csrf_token %}
               <p><button type="submit">Submit</button></p>
</form>
{% endif %}


{% endblock %}