{% extends 'base_layout.html' %}
{% load widget_tweaks %}
{% block content %}
<h1>User profile for {{user_data.username}}</h1>


<div class="image-cropper">
    <p><img src="{{user_profile.profileimg.url}}"
               width = "200px"
                height = "200px"
                ></p>
</div>

<p>Name: {{user_profile.name}}</p>
<p>Email: {{user_profile.email}}</p>
<p>Phone: {{user_profile.phone}}</p>
<p>Type: {{user_profile.type}}</p>
<p>Gender: {{user_profile.gender}}</p>
{% if user_profile.type == "Babysitter" %}
    <p>Exp: {{bs_details.exp}}</p>
    <p>Birth: {{bs_details.birth}}</p>
{% endif %}

{% endblock %}