{% extends 'base_layout.html' %}
{% load widget_tweaks %}
{% block content %}
<h1>Singup</h1>

    <form class="site-form" action="{% url 'accounts:singup_form' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <p>Username:
        {% render_field form.username type="text" class="form-control" id="exampleInputUsername" placeholder="Username" %}
        </p>
    </div>

    <div class="form-group">
        <p>
        Password: {% render_field form.password1 type="password" class="form-control" id="exampleInputPassword" placeholder="Password" %}
        </p>
    </div>

    <div class="form-group">
        <p>
        Confirm Password: {% render_field form.password2 type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password" %}
        </p>
    </div>

    <div class="singup">
        <p>
        <button type="submit" value="Submit"  > Register </button>
        </p>
    </div>
    {% for message in messages %}
     <h5>{{message}}</h5>
     {% endfor %}
</form>


{% endblock %}