{% extends 'base_layout.html' %}
{% load widget_tweaks %}
{% block content %}

<h1> Wellcome to babyNet </h1>



<div class="wellcome">


    <a href ="{% url 'accounts:info' username=user.username %}">
           My profile</a>

    <a href ="{% url 'accounts:feed' %}">
           Go to feed</a>

    <a href ="{% url 'accounts:connections_form' %}">
           Add connections</a>


    <a href ="{% url 'accounts:remove_connections_form' %}">
           Remove connections</a>


{% if user_profile.type == "Parent" %}

    <a href ="{% url 'accounts:search_form' %}">
           Find a babysitter</a>

{% endif %}

</div>

<h2><span class="bold"> Your connections: </span></h2>

<div class="con">
    {% for con in list_connected %}
    <a href ="{% url 'accounts:info' username=con %}">
    {{con}}</a>
    {% endfor %}

</div>

{% endblock %}