{% extends 'base_layout.html' %}
{% load widget_tweaks %}
{% block content %}

<h1> Wellcome to babyNet </h1>

<div class ="wellcome-wrapper">

    <div class ="user-info bold">
        <br><img src="{{user_profile.profileimg.url}}"
        width = "250px"
        height =  "auto"
        ></br>
        <br>{{user_profile.name}}</br>
        <br>{{user_profile.email}}</br>
        <br>{{user_profile.phone}}</br>
    </div>

    <div class="wellcome">

        <a href ="{% url 'accounts:info' username=user.username %}">
           My profile</a>

        <a href ="{% url 'accounts:feed' %}">
           Go to feed</a>

        <a href ="{% url 'accounts:connections_form' %}">
           Add connections</a>


        <a href ="{% url 'accounts:remove_connections_form' %}">
           Remove connections</a>


        {% if user_profile.type == "Parent" %}

        <a href ="{% url 'accounts:search_form' %}">
           Find a babysitter</a>

        {% endif %}

    </div>

    <div class="con">
        <h2 class="bold"> My connections </h2>
        {% for con in list_connected %}
        <a href ="{% url 'accounts:info' username=con %}">
        {{con}}</a>
        {% endfor %}

    </div>

</div>



{% endblock %}