body {
    background-color: MintCream;
    font-size: x-large;

    }

h1 {
  color: DarkSlateGray;
  text-align: center;
}

h2 {
  color: LightCoral;
  text-align: center;
  margin-right: 300px;
  margin-lft: 250px;
}

p {
    margin-right: 200px;
    margin-left: 150px;
    line-height: 200%;
    color:Teal;
    text-align:justify;
}

.user_form form {
    margin-right: 200px;
    margin-left: 150px;
    line-height: 200%;
    color:Teal;
    text-align:justify;
}
button {
  background: CadetBlue;
  border: none;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-size: x-large;
}


button:hover {
  background-color: #111;
}




.wrapper nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: CadetBlue;
}

.wrapper nav li {
  float: right;
}

.wrapper nav li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.wrapper nav li a:hover {
  background-color: #111;
}

