body {
    background-color: #EAF3FA;
    font-size: 30px;

    }

h1 {
  color: #052F4F;
  text-align: center;
}

h2 {
  color: #052F4F;
  text-align: center;
}

p {
    margin-right: 200px;
    margin-left: 150px;
    line-height: 200%;
    color:#2876A8;
    text-align:justify;
}


p.reply {
  background-color: #E8BCEA;
  color: black;
   margin-left: 500px;
   margin-right: 300px;
   padding: 20px;
   border-radius: 20px;
}

p.message_p {
  background-color: #ffe6cc;
  color: black;
  margin-left: 400px;
  margin-right: 400px;
  padding: 20px;
  border-radius: 20px;
}

span.smaller{
    font-size: 15px;
    font-weight: bold;
}

span.username{
    font-weight: bold;
}

.bold{
    font-weight: bold;
}

.user_form form {
    margin-right: 200px;
    margin-left: 150px;
    line-height: 200%;
    color:#2876A8;
    text-align:justify;
}

button {
  background: #77A6C9;
  border: none;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  border-radius: 20px;
}


button:hover {
  background-color: #111;
}

.logout-link {
    border-radius: 0;
    font-size: 30px;
}


.wrapper nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #77A6C9;
}

.wrapper nav li {
  float: right;
}

.wrapper nav li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.wrapper nav li a:hover {
  background-color: #111;
}


.wellcome a{
  display: block;
  color: white;
  text-align: center;
  padding: 20px;
  margin: 10px;
  text-decoration: none;
  background-color: #ff9999;
  font-size: 35px;
  border-radius: 20px;
}
.wellcome-wrapper{
    display: grid;
  grid-template-columns: repeat(3, 1fr);;

}

.con a{
  display: block;
  color: white;
  text-align: center;
  margin-bottom: 10px;
  text-decoration: none;
  background-color: #b3b3ff;
  font-size: 25px;
  border-radius: 20px;
  padding: 10px;
}

.con {
    margin-left:100px;
    margin-right:100px;
}

.con h2{
    color: #b3b3ff;
}

.user-info {
    text-align: center;
    color:#2876A8;
}

img {
  border-radius: 20%;
}

.profile-img {
    text-align:center;
 }

.user-profile{
    color:#2876A8;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}